<header class="site-header">
  <div class="site-header__content">
    <a class="site-header__title-link" href="{{@blog.url}}">
      {{#is "home"}}
        <h1 class="site-header__title">{{@blog.title}}</h1>
      {{/is}}
      {{^is "home"}}
        <h2 class="site-header__title">{{@blog.title}}</h2>
      {{/is}}
    </a>
    <div class="site-header__description">{{@blog.description}}</div>
  </div>
  {{> "site-nav"}}
</header>
