<nav class="site-nav">
    <input class="site-nav__toggle" type="checkbox">
    <div class="site-nav__icon">
      {{> "icons/menu"}}
    </div>
    {{#if @blog.navigation}}
        {{navigation}}
    {{/if}}
</nav>
