@import 'variables';

.site-header {
  display: block;
  padding: 0 1.6rem;
  margin: 0 auto;
  max-width: 750px;
}

.site-header__title {
  text-align: center;
  margin: 6rem 0 0;
}

.site-header__description {
  text-align: center;
  margin: 1rem 0 0;
}
