// Colors
// Use to name colors: http://chir.ag/projects/name-that-color/
$color__black: #000;
$color__white: #fff;
$color__gallery: #eee;
$color__pelorous: #33A0C0;

// Typography
$font__size--main: 17px;
