@import 'variables';
@import 'navigation';
@import "site-header";

html {
  font-family: 'Lucida Grande';
  font-size: 13px;

  @include breakpoint('s') {
    font-size: 17px;
  }
}

body {
  background-color: $color__white;
  margin: 0;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  font-size: 1.2rem;
  font-weight: bold;
}

h3, h4 {
  font-size: 1rem;
  font-weight: bold;
}

a {
  color: $color__pelorous;
}
